<.flash_group flash={@flash} />
<section>
  <article>
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>Robert Röske<br />Friedhofsweg 47<br />18057 Rostock</p>
    <p>abuse (at) sorax (punkt) net</p>
  </article>
</section>
