
// https://mularczyk.co

//
// COLORS
//
$back: #000;
$beige: #f7e9e9;
$brown: #1a1818;
$red: #f34;

//
// BULMA VARIABLES
//
$body-background-color: #1a1818;
$primary: $red;
$text: $beige;

//
// PAGE VARIABLES
//
$logo-color: $text;
