html {
}

body {
  header {
  }

  main {
  }

  footer {
  }
}

.navbar-brand {
  .navbar-item {
    svg {
      line {
        fill: none;
        stroke: $logo-color;
        stroke-width: 10;
        stroke-linecap: round;
      }
    }
  }
}
