<div>
  <.header>
    <%= @title %>
  </.header>

  <form id="upload-form" phx-submit="save" phx-change="validate" phx-target={@myself}>
    <div class="mt-10 space-y-8 bg-white">
      <.live_file_input upload={@uploads.books} />
      <div class="flex items-center justify-between gap-6 mt-2">
        <span></span>
        <.button phx-disable-with="Hochladen...">Hochladen</.button>
      </div>
    </div>
  </form>
</div>
