<Layouts.app flash={@flash} current_user={@current_user}>
  <.title back={~p"/medien"}>
    {@page_title}
  </.title>

  <.form :let={f} for={@form} id="list-form" phx-change="validate" phx-submit="save">
    <.input field={f[:title]} type="text" label="Titel" />

    <div class="flex justify-between">
      <span></span>
      <.button phx-disable-with="Wird gespeichert..." variant="primary">Speichern</.button>
    </div>
  </.form>
</Layouts.app>
