<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Frische Ideen aus eigenem Anbau", suffix: " | hausgedacht" %>
    <%= raw get_metatags(@conn) %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <%= render "_navbar.html", assigns %>
      <%# <a href="https://phoenixframework.org/" class="phx-logo">
        <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
      </a> %>
      <h1>hausgedacht</h1>
      <p>Frische Ideen aus eigenem Anbau</p>
    </header>
    <%= @inner_content %>
    <footer>
      <%= link "Impressum", to: Routes.page_path(@conn, :imprint) %>
      <%= link "Datenschutz", to: Routes.page_path(@conn, :privacy) %>
    </footer>
  </body>
</html>
