<section id="spacegame" class="game">
  <h1>Spacegame</h1>
  <canvas id="canvas"></canvas>

  <div>Players</div>
  <ul>
    <%= for user <- @users do %>
      <li><%= @user.name %> (<%= user.id %>)</li>
    <% end %>
  </ul>
</section>
