<%= #gettext "Welcome to %{name}!", name: "Phoenix" %>
<section class="container">
  <article id="elixir-auf-rasperry-pi">
    <h2>Elixir auf einem Rasperry Pi hosten</h2>
    <%# <img style="background: #f7e9e9" src="https://upload.wikimedia.org/wikipedia/commons/f/f5/FSFE_There_is_no_cloud_postcard_en.svg" alt="" /> %>
    <p><a href="https://github.com/sorax/pi-phoenix">Elixir on Raspberry Pi</a></p>
  </article>
</section>
