<%= # gettext "Welcome to %{name}!", name: "Phoenix" %>
<section class="container">
  <article id="elixir-auf-rasperry-pi">
    <time datetime="2022-05-16">16.05.2022</time>
    <h2>Elixir auf einem Rasperry Pi hosten</h2>
    <p>
      <a href="https://github.com/sorax/deploy-elixir-raspberry-pi">Elixir on Raspberry Pi</a>
    </p>
  </article>
</section>
